# Git submodule definition file
#
# Reference:
#
# * Git - gitmodules Documentation
#   https://git-scm.com/docs/gitmodules
#
# Copyright 2024 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0
[submodule "Fix /snap/bin"]
	path = Fix ⁄snap⁄bin
	url = https://gitlab.com/brlin/fix-snap-bin.git
	ignore = dirty
	shallow = true
[submodule "Snapcrafters Template Plus"]
	path = Snapcrafters Template Plus - An unofficial fork of the Snapcrafters Template
	url = https://gitlab.com/brlin/snapcrafters-template-plus.git
	ignore = dirty
	shallow = true
[submodule "Snap documentation"]
	path = Snap documentation: Documentation for the snap packaging system
	url = https://github.com/canonical/snap-docs.git
	ignore = dirty
	shallow = true
[submodule "snapcraft.io codebase"]
	path = snapcraft.io codebase
	url = https://github.com/canonical/snapcraft.io.git
	ignore = dirty
	shallow = true
